/* styles for Sidebar */

.sidebar {
  min-height: 100vh;
  background-color: #1d3557;
  padding: 1em 0.5em;
  width: 150px;
  height: 100vh;
}

.text {
  padding: 0 1em;
  font-weight: 600;
}

.text:hover {
  color: white;
  opacity: 0.8;
}

.link {
  color: white;
  text-decoration: none !important;
}

.link:hover {
  background-color: white;
  opacity: 0.9;
}

.linkDiv {
  padding: 0.5em 0;
  border-radius: 10px;
}

.linkDiv:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.linkDiv:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
